@font-face {
  font-family: 'Font-Roboto-Black';
  src: url('assets/fonts/Roboto-Black.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Font-Primary-BoldItalic';
  src: url('assets/fonts/Roboto-BoldItalic.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Font-Roboto-Bold';
  src: url('assets/fonts/Roboto-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Font-Roboto-BoldItalic';
  src: url('assets/fonts/Roboto-BoldItalic.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Font-Roboto-Italic';
  src: url('assets/fonts/Roboto-Italic.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Font-Roboto-Light';
  src: url('assets/fonts/Roboto-Light.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Font-Roboto-LightItalic';
  src: url('assets/fonts/Roboto-LightItalic.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Font-Roboto-Medium';
  src: url('assets/fonts/Roboto-Medium.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Font-Roboto-MediumItalic';
  src: url('assets/fonts/Roboto-MediumItalic.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Font-Roboto-Regular';
  src: url('assets/fonts/Roboto-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Font-Roboto-Thin';
  src: url('assets/fonts/Roboto-Thin.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Font-Roboto-ThinItalic';
  src: url('assets/fonts/Roboto-ThinItalic.ttf');
  font-display: swap;
}
