.main-page {
  position: relative;

  .image-box {
    position: relative;
    height: 100vh;

    &__header {
      height: 60%;
      width: 100%;
      object-fit: cover;
    }

    &__bottom{
      position: absolute;
      top:35%;
      left: 0;
      background: $black;
      height: 65%;
      width: 100%;
      box-shadow: 0 -60px 90px $black;
    }
  }

  .content-box {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;

    &__list{
      width: 30%
    }

    &__detail{
      width: 70%;
      padding: 28vh 8% 0 8%;
    }
  }
}


@media screen and (max-width: $tablet) {
  .main-page {
    .image-box {
      &__header {
        height: 20%;
      }

      &__bottom{
        top:20%;
        height: 80%;
      }
    }

    .content-box {
      &__detail{
        padding: 15vh 3% 0 3%;
      }
    }
  }

}
