.profile{
  display: flex;

  &__image{
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }

  &__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.2;

    &__name{
      font-size: 20px;
      font-weight: bold;
    }

    &__category{
      border-radius: 20px;
      border: 1px solid gray;
      padding: 3px 8px;
    }
  }
}
