$color-low: white;
$color-high: #33a7c5;

.sidebar {
  position: relative;
  background: $black;
  height: 100%;
  opacity: 0.5;

  &__title {
    padding: 1.5em;
    font-family: $font-primary-bolditalic;
    color: white;
    margin: 0;
    font-size: 46px;
  }

  &__list {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 35%;
    margin-top: 30px;
    width: 100%;
  }

  .child-item {
    font-family: $font-roboto-thin;
    padding: 10px;
    text-align: center;
    cursor: pointer;

    &--tiny {
      font-size: 12px;
      color: $color-low
    }

    &--sm {
      font-size: 14px;
      color: $color-low
    }

    &--md {
      font-size: 16px;
      color: $color-high
    }

    &--large {
      font-size: 18px;
      color: $color-high
    }

    &--big {
      font-size: 20px;
      color: $color-high
    }

    &--selected {
      font-size: 32px;
      color: $color-high;
      background: #404146;
    }
  }
}


@media screen and (max-width: $tablet) {
  .sidebar {
    &__title {
      font-size: 18px;
    }

    &__list {
      top: 20%;
    }

    .child-item {
      padding: 5px;
      &--tiny {
        font-size: 10px;
      }

      &--sm {
        font-size: 12px;
      }

      &--md {
        font-size: 14px;
      }

      &--large {
        font-size: 16px;
      }

      &--big {
        font-size: 18px;
      }

      &--selected {
        font-size: 20px;
      }
    }
  }
}

