//Font
$font-roboto-black: 'Font-Roboto-Black';
$font-primary-bolditalic: 'Font-Primary-BoldItalic';
$font-roboto-bold: 'Font-Roboto-Bold';
$font-roboto-bolditalic: 'Font-Roboto-BoldItalic';
$font-roboto-italic: 'Font-Roboto-Italic';
$font-roboto-light: 'Font-Roboto-Light';
$font-roboto-lightitalic: 'Font-Roboto-LightItalic';
$font-roboto-medium: 'Font-Roboto-Medium';
$font-roboto-mediumitalic: 'Font-Roboto-MediumItalic';
$font-roboto-regular: 'Font-Roboto-Regular';
$font-roboto-thin: 'Font-Roboto-Thin';
$font-roboto-thinitalic: 'Font-Roboto-ThinItalic';


//Color
$black: #2e2e36;

//Device monitor sizes
$tablet: 768px;
