<template>
  <div class="profile">
    <div class="profile__image">
      <img src="" alt="images">
    </div>
    <div class="profile__info">
      <span class="profile__info__name">{{data.name}}</span>
      <span class="profile__info__address">{{data.address}}</span>
      <span class="profile__info__category">{{data.category}}</span>
    </div>
  </div>
</template>

<script>

export default {
  name: "ProfileItem",
  props:{
    data:{
      type: Object,
      required: true
    }
  },
  computed:{
    imageSrc(){
      return `/images/${this.data.image}`
    }
  }
}
</script>

<style lang="scss" scoped>
 @import "assets/scss/profile";
</style>
