<template>
  <div class="sidebar">
    <h2 class="sidebar__title">
      <slot>{{ title }}</slot>
    </h2>

    <div class="sidebar__list">
        <b :class="getChildClass(item, index)" v-for="(item, index) in data" @click="click(index)">
          {{ item.name }}
        </b>
    </div>
  </div>
</template>

<script>

const SIZES = {
  0: 'selected',
  1: 'tiny',
  2: 'sm',
  3: 'md',
  4: 'large',
  5: 'big',
}

const MAX = 5

export default {
  name: "Sidebar",
  directives:{
    abc:{

    }
  },
  props: {
    title: {
      type: String,
      default: ''
    },
    data: {
      type: Array,
      default: []
    }
  },
  data(){
    return {
      indexSelected: 0
    }
  },
  methods:{
    getChildClass(item, index){
      let modifier = null

      if(this.indexSelected === index){
        modifier = 0
      }else{
        modifier = parseInt(item.popularity) > MAX ? MAX : item.popularity
      }

      return `child-item child-item--${SIZES[modifier]}`
    },
    click(index){
      this.indexSelected = index
      this.$emit('select', index)
    }
  }
}
</script>

<style lang="scss" scoped>
@import "assets/scss/sidebar";
</style>
