<template>
  <div class="container">
    <input class="input" v-model="txt" @input="inputChange"/>

    <button class="btn" @click="activeAZ">A-Z</button>
    <button class="btn" @click="activeAddress">Address</button>

    <div class="list-view">
      <profile-item v-for="item in dataView" :key="item.id" :data="item"></profile-item>
    </div>
  </div>
</template>

<script>

export default {
  components: {
    ProfileItem: () => import('../components/ProfileItem')
  },
  data() {
    return {
      data: [],
      dataView: [],
      txt: ''
    }
  },
  fetchOnServer: false,
  fetch() {
    this.$axios.get('/data/people.json').then(response => {
      this.data = response.data
      this.dataView = response.data
    })
  },
  computed: {},
  methods: {
    activeAZ() {
      this.dataView = this.dataView.sort((a, b) => a.name.localeCompare(b.name))
    },
    activeAddress() {
      const result = []

      const address = [...new Set(this.dataView.map(item => item.address.toLowerCase()))]

      address.forEach(itemAddress => {
        this.dataView.forEach(itemView => {
          const subStrings = itemView.address.toLowerCase().split(' ')

          const isMatch = subStrings.some(itemSub => itemAddress.includes(itemSub))
          if (isMatch) {
            if (!result.some(itemResult => itemResult.id === itemView.id)) {
              result.push(itemView)
            }
          }
        })
      })

      this.dataView = result
    },
    inputChange() {
      this.dataView = this.data.filter(item => {
        return item.name.includes(this.txt) ||
          item.address.includes(this.txt) ||
          item.category.includes(this.txt)
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.container{
  margin: 20px
}

.input{
  border-radius: 5px;
  border-color: #35de94;
  height: 20px;
  width: 200px
}

.list-view{
  padding-top: 20px
}
.btn{
  width: 80px;
  height: 30px;
  background: #35de94;
  color: white;
  border: unset;
  box-shadow: 0px -2px 5px #c1bfbf
}
</style>


<style lang="scss">
body {
  margin: 0;
}
</style>
